@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global styles */
body {
  background-color: #020617;
  color: #f8fafc;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #111827;
}
::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}